* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1{
    color: darkblue;
    margin: 0px,.5rem, 0px;
    padding: .5rem;
    border-bottom: #000;
}

main{

}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 50px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    margin: 1rem;
}

aside{
    width: 35rem;
    text-align: center;
    position: relative;
}

aside img{
    width: 300px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 25px;
    left: 160px;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

/*header, footer{
    margin-top: 15px;
    border-top: 5px solid darkblue;
    text-align: center;
}*/

/*Class Selectors*/

.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent{
    padding-left: 2rem;
}

.grid{
    display: grid;
    align-items: center;
    }
    main{
        grid-column: 2/3;
        margin: 1rem;
    }
    aside{
        width: 20rem;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }